Details needs name, phone, email, category, organization, and date added.  3 buttons edit, home, delete
@model Contact
<h2>Contact Details</h2>

<table>
	<tr>
		<td>Name:</td>
		<td>Full name here</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>Contact Phone Number here</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>Email Address here</td>
	</tr>
	<tr>
		<td>Category:</td>
		<td>Category Name here</td>
	</tr>
	<tr>
		<td>Organization:</td>
		<td>Organization here</td>
	</tr>
	<tr>
		<td>Date Added:</td>
		<td>Date Added here</td>
	</tr>
	<tr>
		buttons go here
	</tr>
</table>